        .bg-gray{
            background-color: #f6f7f7;
        }
    /* for picture */
    ul {
        list-style-type: none;
      }
      
      li {
        display: inline-block;
      }
      
      li input[type="checkbox"][id^="cb"] {
        display: none;
      }
      
      li label {
        border: 1px solid #fff;
        padding: 10px;
        display: block;
        position: relative;
        margin: 10px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      li label::before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
      }
      
      li label img {
        height: 100px;
        width: 100px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
      }
      
      :checked+label {
        border-color: #0dcaf0;
      }
      
      :checked+label::before {
        content: "✓";
        background-color: #0dcaf0;
        transform: scale(1);
      }
      
      :checked+label img {
        transform: scale(0.9);
        box-shadow: 0 0 5px rgb(221, 219, 226);
        z-index: -1;
      }
     